.ecole {
  background: black;
}
main {
  min-height: 100vh;
  background: orange;
}

article {
  height: 500px;
  border: 1px solid black;
  padding-top: 10px;
}

.format{
    width: 75%;
    margin: auto;
}
